<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Mansi Passage</h1>
        <p id="para">
            Stress, one of the most commonly
            used words by everyone. Whether it is a teenager, a working professional, a housewife,
             or a student uses this word once a day.
             But what is stress? Why has it become so common? Why are 
             online counselling centers increasing to help people with stress issues?
        </p>
        
        <button onclick="explore()">Submit </button>
    </div>
    <script>
        para=document.getElementById("para");
        function explore(){
            para.innerHTML=" Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit quam et odio expedita, facilis impedit totam blanditiis! Laborum aspernatur nihil ducimus quasi, possimus suscipit adipisci odio tenetur tempora dolores id? Fuga voluptas rem laborum possimus repellat natus. Praesentium modi expedita nam eius alias. Soluta architecto ea suscipit. Voluptatibus, dolores temporibus, quidem ab consequatur aut laborum illum esse nobis quia architect"
         
        }
    </script>
</body>
</html> -->