@tailwind base;
@tailwind components;
@tailwind utilities;

#allbtn:hover{
background: rgb(80, 229, 229);
    
}
#contact:hover{
    background: rgb(91, 138, 138);
    /* background-color: rgb(240, 219, 222); */
}

.bgimage{
    background-image: url("../src/assets/img/c5.jpg");
    border-radius: 3rem solid black;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;


}
.feedback{
    background:url("../src/assets/img/c5.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}
.bgsubmit{
    background:url("../src/assets/img/contact\ bg\ img.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2rem;
    opacity:1;
  ;
    
}
